.dataItem {
color: #2D333F;
}

.check {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-family: Brandon Text;
  font-size: 16px;
  line-height: 24px;
  width: 280px !important;
  height: 64px;
}
.check-container {
  padding: 16px 8px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 48px;
  width: 100%;

}

.check :hover {
  background-color: #EEF8FB;
  cursor: pointer;

}

.suggestion{
  width: 280px;
  height: 32px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.suggestion-span{
font-family: Brandon Text;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: center;
margin-left: 16px;
color: #91949A;
}
.suggestion-ex{
  color: #2D333F;
  margin-right: 19.9px;
}
